<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Components</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- TODO: reference stylegen styles in here -->
  <!-- TODO: make css deps more dynamic, maybe allow tag reference here -->
  {{#each cssDeps}}
    <link rel="stylesheet" href="{{this}}">
  {{/each}}

  {{#if head}}
    <!-- SYLEGEN: dependencies.templates.head -->
    {{{ head }}}
    <!-- SYLEGEN: dependencies.templates.head (end) -->
  {{else}}
    <!-- SYLEGEN: dependencies.templates.head NO DEPS -->
  {{/if}}
  <link rel="stylesheet" href="/stylegen-assets/defaults.css">

  <!-- TODO: allow head js tags -->
</head>
<body>
    <header>
      Styleguide
    </header>
    <nav class="test-stylegen-main-nav">
      {{#*inline "sg.main-link-item"}}
        <a href="{{link}}">{{label}}</a>
        {{#if children}}
          <div class="children">
            {{> sg.main-link-list children}}
          </div>
        {{/if}}
      {{/inline}}

      {{#*inline "sg.main-link-list"}}
        {{#each this}}
          {{> sg.main-link-item}}
        {{/each}}
      {{/inline}}

      {{> sg.main-link-list pages }}
    </nav>
    <main>
      {{{content}}}
    </main>

  {{#each jsDeps}}
    <script src="{{this}}"></script>
  {{/each}}

  {{#if bottom}}
    <!-- SYLEGEN: dependencies.templates.bottom -->
    {{{ bottom }}}
    <!-- SYLEGEN: dependencies.templates.bottom (end) -->
  {{else}}
    <!-- SYLEGEN: dependencies.templates.bottom NO DEPS -->
  {{/if}}
</body>
</html>
