
  <article id="component-{{id}}">
    <header>
      <h2 class="mdl-card__title-text">{{headline}}</h2>
    </header>

    <ul>
      {{#each docs}}
          <li><a href="#{{../id}}-{{label}}" class=" {{#if @first}}active{{/if}}">{{label}}</a></li>
      {{/each}}
    </ul>

    {{#each docs}}
      <div class="{{#if @first}}active{{/if}}" id="{{../id}}-{{label}}">
          {{{content}}}
      </div>
    {{/each}}

    <div id="{{id}}-config">
      <dl>
        <dd>ID:</dd>
        <dt>{{component.id}}</dt>

        <dd>Partials:</dd>
        <dt>
          {{#each component.partials}}{{this.name}}{{#unless @last}},{{/unless}}{{/each}}
        </dt>
      </dl>
    </div>

    <div class="mdl-card mdl-shadow--2d mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text">
        {{{template}}}
      </div>
    </div>

    <div class="mdl-card mdl-shadow--2d  mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text">
        <code class="language-markup">{{template}}</code>
      </div>
    </div>

  </article>
