
  <article id="component-{{id}}">
    <header>
      <h2>{{headline}}</h2>
    </header>


    <ul>
      {{#each docs}}
          <li><a href="#{{../id}}-{{label}}" class=" {{#if @first}}active{{/if}}">{{label}}</a></li>
      {{/each}}
    </ul>

    {{#each docs}}
      <div class="{{#if @first}}active{{/if}}" id="{{../id}}-{{label}}">
          {{{content}}}
      </div>
    {{/each}}

    <!-- <div id="{{id}}-config">
      <dl>
        <dd>ID:</dd>
        <dt>{{component.id}}</dt>

        <dd>Partials:</dd>
        <dt>
          {{#each component.partials}}{{this.name}}{{#unless @last}},{{/unless}}{{/each}}
        </dt>
      </dl>
    </div> -->

    {{#unless states}}
      {{! just show the default template }}
      <div>
        {{{template}}}
      </div>

      <!-- <div class="mdl-card__supporting-text">
        <code class="language-markup">{{template}}</code>
      </div> -->
    {{else}}
      {{! show the rendering of each modifier (default view should be configured as a modifier, if it should be listed too) }}
      {{#each states}}
        {{#with this as |state| }}
          <h3>{{state.label}}</h3>
          <p>{{state.doc}}</p>
          <div>
            {{{state.content}}}
          </div>
        {{/with}}
      {{/each}}

    {{/unless}}

  </article>
