<div class="form-group {{group_classes}}">
  <label for="sample2" class="form-control-label">{{name}}</label>
  <input name="{{name}}" class="form-control" type="text" {{placeholder}} id="{{name}}">
  <small class="text-muted">Input is not a number!</small>
</div>
